@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    padding: 0;
	font-family: 'Roboto', sans-serif;
    min-width: 375px;
    max-width: 1600px;
}

.navbar{
    opacity: 0.8;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #333;
    min-width: 375px;
    width: 100%;
    flex-direction: column;
    height: 40px;
    box-shadow: 0px 5px 5px rgb(122, 122, 122);
}

.nav-header-text{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.aside-ul{
    margin: 0;
    padding: 0;
}

.aside-li{
    list-style: none;
    text-align: center;
    text-align: center;
}

.navlink{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    z-index: 1000;
}

.navlink:hover{
    background-color: #555;
    transition: 0.5s ease-in-out;
}

.toggle-button{
    position: fixed;
    top: 7px;
    right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 1000;
}

.toggle-button:hover{
    opacity: 0.7;
    transition: 0.5 ease-in-out;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: white;
}

.nav-elements-aside{
    position: absolute;
    top: 40px;
    right: 0rem;
    width: 100%;
    opacity: 0;
    transform: translateY(-250px);
    pointer-events: none;
    transition:  0.4s  ease-in-out;
    margin: auto;
}

.nav-elements-aside.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: 0.4s  ease-in-out;
    background-color: rgb(51, 51, 51, 0.3);
    box-shadow: 0px 2px 2px 0px rgb(122, 122, 122);
    z-index: 5000;
}
.home-page{
    background-color: rgb(51, 51, 51);
}
.heading-logo{
    margin-top: 7px;
    font-size: 25px;
    color: white;
    width: 160px;
    margin-left: 5px;
}
.navbar-website{
    display: none;
}
/* Extra small devices (phones, 450px and down) */
@media only screen and (min-width: 450px) {
    .navbar{
        display: flex;
        margin: auto;
        width: 100%;
    }

    .nav-elements-aside.active{
        pointer-events: auto;
        width: 50%;
        right: 0rem;
        transform: translateY(0);
        height: 100vh;
    }
    .nav-elements-aside{
        pointer-events: auto;
        background-color: #555;
        transform: translateY(-450px);
        width: 50%;
        height: 100vh;
    }

    .navlink{
        font-size: 1.3em;
        padding: 10px 0;
        width: 50vw;
        line-height: 2vh;
    }
    .navlink:hover{
        background-color: rgb(22, 21, 21);
        transition: 0.5s ease-in-out;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1600px;
    }

    .nav-elements-aside.active{
        display: none;
    }
    .nav-elements-aside.active{
        display: none;
    }
    .navlink{
        margin-top: 20px;
    }
    .toggle-button{
        display: none;
    }
    .navbar-website{
        width: 640px;
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0px;
    }
    .nav-elements{
        opacity: 1;
        transition:  0.4s  ease-in-out;
    }
    .links-website{
        z-index: 50;
        text-decoration: none;
        color: white;
        padding:  10px 23px;
    }
    .links-website:visited{
        color: white;
    }
    .links-website:hover{
        background-color: rgb(0, 0, 0);
        transition: 0.5s ease-in-out;
    }
    .heading-logo{
        margin: 8px 10px;
    }
    
}


footer{
    background-color: #333;
    height: 120px;
}
.ul-footer{
    padding-top: 10px;
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 30px;
}
.li-footers{
    font-size: 1em;
    text-decoration: none;
    color: white;
    padding: 0;
}

.footer-links{
    text-decoration: none;
    color: rgb(67, 90, 153);
}

@media only screen and (min-width: 450px){
    .ul-footer{
        flex-direction: row;
        justify-items: center;
    }

    footer{
        height: 50px;
    }
}

@media only screen and (min-width:768px){
    .ul-footer{
        max-width: 900px;
    }
}
/* home heading */
.home-heading {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 0.3px;
}

.heading {
   letter-spacing: .3rem;
	background-image: url(https://media.giphy.com/media/GGCtFbOeefY5O/giphy.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
    -webkit-background-clip: text;
	font-size: 5.5rem;
	line-height: .75;
	margin: 10px 0;
}
@media only screen and (min-width: 450px){
    .home-heading {
        letter-spacing: 5px;
    }

    .heading {
        letter-spacing: .3rem;
         font-size: 7rem;
     }

}
@media only screen and (min-width: 768px){

    .heading {
        letter-spacing: .3rem;
         font-size: 10rem;
     }


}

/* abut me page */

/* About Me Header */
.about-me-heading{
    background-color:  #151719;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1;

}
.waviy-header {
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 52px;
    z-index: 1;

}
.waviy-header span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: jumps-shadows 1s infinite;
    animation-delay: calc(.1s * var(--css-jumpy));
    z-index: 1;
    
}
 @keyframes jumps-shadows {
    0%{
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
    40%{
      transform: translateY(0)
    }
    100%{
      transform: translateY(0)
    }
    
}

  @media only screen and (min-width: 450px){
    .waviy-header {
        font-size: 4.1rem;
    }

}

@media only screen and (min-width: 768px){
    .waviy-header {
        font-size: 7rem;
    }


}

/* about me section */


.about-me-article{
    display: grid;
    grid-template-columns: 1fr;
}

