@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    min-width: 375px;
    max-width: 1600px;
}

.navbar{
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #333;
    min-width: 375px;
    width: 100%;
    flex-direction: column;
    height: 40px;
    box-shadow: 0px 5px 5px rgb(122, 122, 122);
}

.nav-header-text{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.aside-ul{
    margin: 0;
    padding: 0;
}

.aside-li{
    list-style: none;
    text-align: center;
    text-align: center;
}

.navlink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    display: inline-block;
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    z-index: 10;
    transform: translateY(1px);
}

.navlink:hover{
    background-color: #555;
    transition: 0.5s ease-in-out;
}

.toggle-button{
    position: absolute;
    top: 7px;
    right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 10;
}

.toggle-button:hover{
    opacity: 0.7;
    transition: 0.5 ease-in-out;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: white;
}

.nav-elements-aside{
    position: absolute;
    top: 40px;
    right: 0rem;
    width: 100%;
    opacity: 0;
    transform: translateY(-950px);
    pointer-events: none;
    transition:  0.4s  ease-in-out;
    margin: auto;
}

.nav-elements-aside.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: 0.4s  ease-in-out;
    background-color: rgb(51, 51, 51, 0.7);
    box-shadow: 0px 2px 2px 0px rgb(122, 122, 122);
    z-index: 5;
}
.home-page{
    background-color: rgb(51, 51, 51);
}
.heading-logo{
    height: 39px;
    margin-left: 4px;
    display: inline-block;
}
.navbar-website{
    display: none;
}
/* Extra small devices (phones, 450px and down) */
@media only screen and (min-width: 450px) {
    .navbar{
        display: flex;
        margin: auto;
        width: 100%;
    }

    .nav-elements-aside.active{
        pointer-events: auto;
        width: 50%;
        right: 0rem;
        transform: translateY(0);
        height: 100vh;
    }
    .nav-elements-aside{
        pointer-events: auto;
        background-color: #555;
        transform: translateY(-650px);
        width: 50%;
        height: 100vh;
    }

    .navlink{
        font-size: 1.3em;
        padding: 10px 0;
        width: 50vw;
        line-height: 2vh;
    }
    .navlink:hover{
        background-color: rgb(22, 21, 21);
        transition: 0.5s ease-in-out;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        position: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1600px;
    }

    .nav-elements-aside.active{
        display: none;
    }
    .nav-elements-aside.active{
        display: none;
    }
    .navlink{
        margin-top: 20px;
    }
    .toggle-button{
        display: none;
    }
    .navbar-website{
        width: 640px;
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0px;
    }
    .nav-elements{
        opacity: 1;
        transition:  0.4s  ease-in-out;
    }
    .links-website{
        z-index: 10;
        text-decoration: none;
        color: white;
        padding:  10px 20px;
    }
    .links-website:visited{
        color: white;
    }
    .links-website:hover{
        background-color: rgb(0, 0, 0);
        transition: 0.5s ease-in-out;
    }
    .heading-logo{
        margin: 8px -10px 8px 10px;
    }
    
}


footer{
    background-color: #333;
    height: 140px;
}
.ul-footer{
    padding-top: 10px;
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 30px;
}
.li-footers{
    font-size: 1em;
    text-decoration: none;
    color: white;
    padding: 1px 0;
}

.footer-links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    display: inline-block;
}

.footer-links:hover{
    transition: .3s ease-in-out;
    color: rgb(190, 190, 190);
}

@media only screen and (min-width: 450px){
    .ul-footer{
        flex-direction: row;
        justify-items: center;
    }

    footer{
        height: 60px;
    }

    .li-footers{
        padding: 0;
        margin-top: 10px;
    }

    .footer-links{
        margin-top: 5px;
        padding: 0;
    }
}

@media only screen and (min-width:768px){
    .ul-footer{
        max-width: 900px;
    }
}
/* home heading */
.home-heading {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 0.3px;
}

.heading {
    letter-spacing: .3rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5)), url(https://media.giphy.com/media/Byour3OgR0nWnRR6Tc/giphy.gif);
    /* the gradient is to make the background look darker */
	background-size: cover;
	color: transparent;
	background-clip: text;
    -webkit-background-clip: text;
    /* This is where i learn about this css property
    https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip */
	font-size: 5.5rem;
	line-height: .75;
    font-weight: 700;
}
@media only screen and (min-width: 450px){
    .home-heading {
        letter-spacing: 5px;
    }

    .heading {
        letter-spacing: .3rem;
         font-size: 7rem;
}

}
@media only screen and (min-width: 768px){

    .heading {
        letter-spacing: .3rem;
         font-size: 10rem;
     }


}

/* abut me page */

/* About Me Header */
.content-header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.9)), url(https://media.giphy.com/media/GGCtFbOeefY5O/giphy.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 28px;
}
.shadow-header {
    -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0,0,0,.5));
}
.shadow-header span {
    color: #fff;
    text-transform: uppercase;
}

@media only screen and (min-width: 450px){
    .shadow-header {
        font-size: 4.1rem;
    }

}

@media only screen and (min-width: 768px){
    .shadow-header{
        font-size: 7rem;
    }

}

/* about me subheadings */
.about-me-subheader{
    display: flex;
    justify-items: center;
}

.flipped-h2{
    font-weight: 500;
    margin: 30px auto;
}

.flipped-h2 span{
    display: inline-block;
    /* transform: rotateY(); or any transfor for that matter doesn't work if the text is not inline-block i learned */
    text-transform: capitalize;
    font-size: 1.2em;
    animation: text-flipper 3s infinite;
    /* text animation: had to be 3s so that my whole name would do it but never at the same time */
    animation-delay: calc(0.2s * var(--flip));
    /* flip is a variabe in css, that has a number next to it beacause with the var() function what I'm doind is taking every  variable (e.i. --flip:1 ) and giving it a delay of .02s so that they flip before the other one flips (e.i. --flip:2), but also none of them do it a the same time, and it's never static either which is what i wanted; */
    /* calc is a function build in CSS to allow you to make calculations on a propety on css. In this instance the I'm using it to apply the delay to every one of the variables so that they don'f lip together.
    https://developer.mozilla.org/en-US/docs/Web/CSS/animation-delay */
    /* to name a variable you do it with the -- first  */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    /* https://css-tricks.com/a-complete-guide-to-calc-in-css/ */
}

@keyframes text-flipper {
    0%{
        /* I'm rotaring it on the Y axis which is the vertical one, I had to play around it it a lot to make sure that they would rotate individually and once again after done  */
        transform: rotateY(360deg);
    }
    80%{
        transform: rotateY(360deg);
    }
}

@media only screen and (min-width: 450px){
    .flipped-h2 span{
        font-size: 50px;
    }

}

@media only screen and (min-width: 768px){
    .flipped-h2 span{
        font-size: 60px;
    }

}

/* article about me */

.about-me-section{
    max-width: 340px;
    margin-bottom: 10vh;
}

.about-me-section i {
    font-weight: 100;
}

.about-me-section p{
    padding: 10px 30px;
    font-weight: 100;
    line-height: 1.4;
    
}

.profile-picture{
    max-width: 200px;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
}

@media only screen and (min-width: 450px){
    .about-me-section{
        max-width: 650px;
    }
    .profile-picture{
        margin-bottom: 1rem;
        float: left; 
        margin-left: 5px;

    }


}

@media only screen and (min-width: 768px){
    .about-me-section{
        max-width: 1200px;
    }
    .about-me-section p{
        text-align: justify;
    }
    .profile-picture{
        margin: 2rem .6rem 4px;
        float: left; 
    }
    
}


/* go to contacst button */


@media only screen and (min-width: 450px){
    .button-primary{
        font-size: 20px;
    }
   

}


/* Projects Section*/
projects-main{
    margin: 80px auto 80px;
}

.project-grid{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
    height: auto;
    margin: 80px auto;
    
}

.gallery{
    height: 350px;
    width: 350px;
    margin: 20px auto 70px;
   
}
.image-text{
    font-weight: 100;
}

.image-text small{
    font-weight: 100;
}
.image-text small a{
    font-weight: 100;
    text-decoration: none;
    color: black;
}

.gallery img{
    max-width: 100%;
    max-height: 100%;
}


.space-battle{
    background-image: url('images/space-battle-1.png');
}

.galery-desciption{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}

.accordion-body h3{
    margin: 30px auto 0;
    font-weight: 100;
    text-align: center;
}
.accordion-body i {
    font-size: 2rem;
    margin: 10px auto 1rem;
}




@media only screen and (min-width: 450px){

    .gallery{
       width: 70%;
       height: 30%;
       min-height: 450px;
       max-width: 550px;
   }
   .gallery img{
       margin-left: auto;
   }
}


@media only screen and (min-width: 768px){
    .project-grid{
        grid-template-columns: repeat(2, auto);
        column-gap: 9px;
    }

}

/* resume section */

.resume-article{
    width: 350px ;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}

.resume-section-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
}

.resume-li{
    margin-left: 18px;
}
.resume-skills-article .resume-li{
    margin-right: 156px;
}

.resume-article h3{
    text-align: center;
    margin: 20px auto;
    font-weight: 500;
    text-transform: uppercase;
}

.resume-article strong{
    font-weight: 700;
}

.resume-article strong small{
    font-weight: 700;
    color: 	#666666;
}

.certifications-section{
    margin-bottom: 4rem;
}

.education-article h4{
    font-weight: 500;
    color: 	#666666;
}
.education-article > h4:nth-child(4){
    color: black;
}
.resume-hide-if-big{
    display: block;
}

.resume-ul{
    margin: 20px auto;
}

@media only screen and (min-width: 450px){
    .resume-section-grid{
        max-width: 600px;
    }
    .resume-article{
        width: 450px ;
    }
}

@media only screen and (min-width: 948px){

    .resume-main{
        max-width: 1200px;
    }
    .resume-section-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        max-width: 1200px;
        padding-left: 10px;
    }
    .resume-skills-article, .education-article{
        max-width: 300px;
    }
    .resume-skills-article h3{
        min-width: 450px;
        max-width: 500px;
        margin-left: 10px;
    }
    .mini-bio {
        margin-left: 10px;
        min-width: 450px;
        max-width: 500px;
    }

    .personal-statement-section{
        margin-right: 160px;    
    }

    .resume-article h3{
        font-size: 1.4em;
        text-align: left;
        padding-left: 10px;
    }

    .resume-li{
        margin-left: 34px;
        width: 350px;
    }

    .work-experience{
        margin-left: 20px;
    }

    .work-experience .resume-ul .resume-li{
        margin: 0 0 0 15px;
    }

    .certifications-section{
        text-align: left;
        margin-left: 10%;
    }
    .resume-hide-if-big{
        display: none;
    }
    .certifications-section h4{
        margin-left: 10px;
    }

    .work-experience h3{
        margin-left: -10px;
    }

}

.sub-sub-header{
    text-align: center;
    margin: -1rem 0 0;
}

.resume-subheading-tex{
    animation: slower-faid-in 7s infinite;
    line-height: 1.3;
    font-size: 1.5em;
}


.download-section{
    display: flex;
    justify-content: center;
    height: 200px;
    justify-items: center;
}
.resume-button{
    padding: 15px;
    border: none;
    background: #666;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.resume-button:hover{
    transition: .3s ease-in-out;
    background: #333;
}

@media only screen and (min-width: 450px){
    .resume-subheader{
        font-size: 2em;
        text-align: center;
    }
}

@keyframes slower-faid-in {
      0% {
        opacity:0;
    }
      20% {
        opacity:0.4;
    }
      40% {
        opacity:1;
    }
      100% {
        opacity: 1;
    }
}



/* skilss section  */

.skills-main{
    margin: auto;
    display: grid;
    grid-auto-columns: fit-content(80%) ;
    justify-content: center;
    margin: 40px auto 120px;
}

.skills-article i {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto 20px;
}


.skills-article p{
    padding: 5px;
    font-weight: 100;
    border-top: 1px solid #333 ;
    border-radius: 1px;
    text-align: center;
    min-height: 100%;
    line-height: 1.3rem;

}

.skills-article strong{
    line-height: 3rem;
    font-weight: 300;

}

.jquery-logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10.3px;
    margin-bottom: -15.8px;
}

.vscode-logo{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 5px;

}
@media only screen and (min-width: 650px){
    .skills-main{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        max-width: 95%;
    }
}

@media only screen and (min-width: 990px){
    .skills-main{
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        max-width: 95%;
    }

   
    
}

.icon-credits{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-credits a{
    text-decoration: none;
    color: #777;

}
.icon-credits p{
    font-style: italic;
    font-size: 8px;
    color: #333;
}


/* concact section  */
.contact-links{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}
.contact-links a{
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
    margin-top: 20px;
}


.contact-links .fa-stack-1x:hover {
    color: rgb(121, 121, 121);
    transition: .3s ease-in-out;
}

.contact-section{
    padding: 10px;
}
.name-form, .email-form, textarea {
    margin: 5px auto;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px #666666 solid;
    font-size: 1.1rem;
}

.button-form{
    width: 300px;
    padding: 8px 0;
    background: #666666;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.button-form:hover{
    transition: .3s ease-in-out;
    background: #333;
}

.contact-main{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
}
    /* https://fontawesome.com/docs/web/style/stack  use for ICONS! so cool!*/

.contact-info-with-icons p a{
    color: black;
    text-decoration: none;
}

.contact-info-with-icons {
    margin: 20px auto;
    text-align: center;
    width: 320px;
    line-height: 1.3rem;
}

.contact-info-with-icons i{
    font-size: 30px;
    color: #333;
    margin: 5px auto;
    padding: 5px;
}


/* this is the accordion only for mobile version */

.accordion-item{
    width: 330px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 5px;
    height: auto;
    padding: 0;
}

.accordion-header{
    font-weight: 100;
    font-size: 1.2rem;
}
.accordion-button{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    background-color: rgb(243, 243, 243);
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: #666;
    color: white;
    font-size: 1.2rem;
    cursor: pointer ;
}

.accordion-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.accordion-button:hover{
  color: white;
  transition: .3s ease-in-out;
  text-transform: uppercase;
  background-color: #333;

}
.accordion-toggle-icon{
    font-size: 1.2rem;
    font-weight: 100;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}

.accordion-collapse{
    display: none;
    opacity: 0;
    transition: 1s ease-in-out;
}


.accordion-toggle-down{
    font-size: 1.2rem;
    font-weight: 100;
    margin-right: 10px;
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}

.accordion-show{
    transition: 1s ease-in-out;
    display: block;
    height: auto;
    width: fit-content;
    opacity: 1;
}


@media only screen and (min-width: 650px){
    .contact-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .name-form, .email-form, textarea {
        width: 350px;
        font-size: 18px;

    }
    .button-form{
        width: 350px;
        font-size: 1.5rem;
    }

    .accordion-button{
        width: 360px;
        font-size: 1.3rem;
    }

}

@media only screen and (min-width: 990px){
    .contact-main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


}

